img{
    margin-left:40%;}
body{
      font-family: Arial, Times New Roman;
}
h1{
  color: #149660;
  text-align:center;
  font-weight: Bold;
}
.love{
  color:#ff2465;
}
#kp1, p {
   text-align: center;
   margin: 2px;
   font-size: 20px;
}
h4{
   margin:10px;
}
ol, ul {
   margin: 5px;
}

table{
      border: 3px solid black;
      padding: 1px;
      border-collapse: collapse;
      width: 30%;
}
th{
   background-color:#149660 ;
   padding: 10px;
   border: 2px solid  black;
}
td{
  padding: 7px;
  border: 2px solid black;
}
